@model Student_Details_Mvcc.Models.Studentmodel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">

            @Html.LabelFor(model => model.Std_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Std_Name, new { @class = "form-control User", @placeholder = "StudentName" })

                @Html.ValidationMessageFor(model => model.Std_Name, "", new { @class = "badge badge-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                Male:   @Html.RadioButton("Gender", "Male")
                Female: @Html.RadioButton("Gender", "Female")
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.std_Class, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.std_Class, new SelectList(new[] { "I", "II", "III", "IV" }), "--Select--", new { @class = "form-control Section", @placeholder = "studentclass" })

                @Html.ValidationMessageFor(model => model.std_Class, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.std_Section, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.std_Section, new SelectList(new[] { "A", "B", "C", "D" }), "--Select--", new { @class = "form-control Section", @placeholder = "studentclass" })

                @Html.ValidationMessageFor(model => model.std_Section, "", new { @class = "text-danger" })
            </div>
        </div>

       


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-info" />

                @if (ViewBag.msg != null)
                {
                    <script type="text/javascript">
                        alert("Student Add Successfully!");
                         window.location.href ="@Url.Action("studentView")";

                    </script>
                }

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "studentView")
</div>
